@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: beige;

}

header {
    font-family: "Lobster";
    color: rgba(32, 165, 194, 0.8);
    font-size: 5rem;
    text-align: center;
}

#title {
    font-family: "Lobster";
    color:rgba(32, 165, 194, 0.8);
    text-align: center;
}

/*game area positioning*/
.game-area {
    text-align: center;
    z-index: 1;

}

/*game images*/


#man-start {
    width: 200px;
    
    
}

#computer-start {
    width: 200px;
    float: left;
    
    
    
    
}





/*buttons*/

.buttons {
    color:rgba(32, 165, 194, 0.8);
    font-family: "Lobster";
    font-size: 3rem;
    margin: 50px 50px 50px;

}

#start-again {
    color:rgba(32, 165, 194, 0.8);
    font-family: "Lobster";
    font-size: 3rem;
}

/*footer*/

footer {
    color:rgba(32, 165, 194, 0.8);
    font-family: "Lobster";
    font-size: 3rem;
    margin-top: 50px;
    
}

