@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: beige;

}

header {
    font-family: "Lobster";
    color: rgba(32, 165, 194, 0.8);
    font-size: 5rem;
    text-align: center;
    border-top: solid 5px;
    border-bottom: solid 5px;
    width: 100%;
}

#title {
    font-family: "Lobster";
    color:rgba(32, 165, 194, 0.8);
    text-align: center;
}


/*player score*/

#player {
    text-align: center;
}

#computer {
    text-align: center;
  

}

#man-image {
    margin-left: 45%;
    margin-right: auto;
    width: 10%;
    text-align: center;
    
}

#computer-image {
    margin-left: 45%;
    margin-right: auto;
    width: 10%;
    text-align: center;
    


}

/*buttons*/

#choices {
    text-align: center;
}

.buttons {
    color:rgba(32, 165, 194, 0.8);
    font-family: "Lobster";
    font-size: 2rem;
    margin: 50px 50px 50px; 
    margin-top: 20px;
    
    
}

/*footer*/

footer {
    color:rgba(32, 165, 194, 0.8);
    font-family: "Lobster";
    position: absolute;
    font-size: 2rem;
    border-top: solid 5px;
    width: 100%;
    clear: both;
    
}

//edit if i cannot get both images to align, use one image, and change for computer and man.