@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: beige;

}

header {
    font-family: "Lobster";
    color: rgba(32, 165, 194, 0.8);
    font-size: 3rem;
    text-align: center;
    border-top: solid 5px;
    border-bottom: solid 5px;
    width: 100%;
}

#title {
    font-family: "Lobster";
    background-color:rgba(32, 165, 194, 0.8);
    color: white;
    text-align: center;
    font-size: 2rem;
}


/*player score*/

#player {
    text-align: center;
    font-size: 1rem;
    font-family: "Lobster";
}

#computer {
    text-align: center;
    font-size: 1rem;
    font-family: "Lobster";
  

}

#man-image {
    margin-left: 45%;
    margin-right: auto;
    width: 10%;
    text-align: center;
    
}

#computer-image {
    margin-left: 45%;
    margin-right: auto;
    width: 10%;
    text-align: center;
    margin-bottom: 50px;


}

/*hide images, only display when button is clicked*/

/*buttons*/

#choices {
    text-align: center;
}

.buttons {
    color:rgba(32, 165, 194, 0.8);
    font-family: "Lobster";
    font-size: 2rem;
    margin: 20px 20px 20px; 
    }


#instructions {
    color:white;
    font-family: "Lobster";
    font-size: 1rem;
    text-align: center;
    background-color: rgba(32, 165, 194, 0.8);
}

/*footer*/

footer {
    color:rgba(32, 165, 194, 0.8);
    font-family: "Lobster";
    position: absolute;
    font-size: 1rem;
    border-top: solid 1px;
    width: 100%;
    clear: both;
    
}

#facebook {
    float: right;
}


